module.exports.renderDayList = function (_current, _start) {
  var week_arr = ['一', '二', '三', '四', '五', '六', '日'];
  var start = getDate(_start).getTime();
  var length = 7 * (_current - 1);
  var current = getDate();

  return week_arr.map(function (item, index) {
    var day = getDate(start + (length + index) * 24 * 3600 * 1000);
    return {
      week: item,
      month: day.getMonth() + 1,
      day: day.getDate(),
      current: day.toDateString() === current.toDateString()
    }
  });
};
module.exports.renderCourseList = function (_course, _current, _start) {
  // 分析是否在当前周
  var courseList = _course.map(function (item, index) {
    var valid = false;
    if (item.time.start <= _current && _current <= item.time.end) {
      valid = true;
      // 单双周判断
      if (item.time.odd === '单' && _current % 2 === 0) valid = false;
      else if (item.time.odd === '双' && _current % 2 === 1) valid = false;
    }

    return {
      id: item.id,
      name: item.name,
      teacher: item.teacher,
      classroom: item.classroom,
      time: item.time,
      period: item.period,
      valid: valid,
      origin: index
    }
  });

  // 按照valid排序
  courseList.sort(function (a, b) {
    if (a.valid === b.valid) return 0;
    return a.valid ? -1 : 1;
  });

  // 初始化课程表（5*7）
  var course = [];
  for (var i = 0; i < 5; ++i) {
    course.push([]);
    for (var j = 0; j < 7; ++j) {
      course[i].push([]);
    }
  }

  // 放入课程列表中
  courseList.map(function (item) {
    course[item.period.section - 1][item.period.week - 1].push(item);
  });
  return course;
}

module.exports.renderWeekList = function (_current) {
  var week_arr = [];
  for (var i = 1; i < 25; ++i) {
    var current = _current === i ? '(本周)' : '';
    week_arr.push('第' + i + '周' + current);
  }
  return week_arr;
}